@charset "utf-8";
*{margin: 0;padding: 0}

@media only screen and (max-width: 768px), only screen and (max-device-width: 768px){

}

body{ 
 background: white;
 overflow-x: hidden;
}

header{
	position: fixed; /*menu fixo (não sumir ao descer a página)*/
	left: 0;/*parametro 1/2 para o menu não flutuar*/
	top: 0;/*parametro 2/2 para o menu não flutuar*/
	width: 100%;
	height: 103px;
	background: #370000;
	margin: 0px auto; /*centralizar o menu*/ 
	border-radius: 0px 0px 0px 0px; /*bordas arrendodadas*/
	-moz-border-radius: 0px 0px 0px 0px; /*bordas arrendodadas mozila*/
	box-shadow: 0px 0px 0.8px 0px;
	
}
	
	a{
	text-decoration: none; /*tira toda a formatação do texto, deixa ele limpo*/
 	}/*links do menu do cabeçalho*/

nav{	
		background: #370000;
		margin: 0px auto;
		padding: 10px 0px 10px 0px;
}


	nav img{
		float: left; /*imagem flutuar a esquerda*/
		height: 51px;
		width: 56px;
		margin: 15px 0px 0px 38px;
	}


ul li{/*especificando só a parte de navegação*/
	font-size: 21px; /*tamanho da fonte*/
	background: #370000;
	color: white; /*cor da fonte*/
	font-family: Agency FB;
	display: flex; /*colocar o menu na horizontal, topo do site*/
	padding: 2px 1px 10px 1px;/*espaçamento dentro sentido horário*/
	margin: 28px 40px 10px 10px; /*epaço externo e um entre o outro sent horario*/
    border-bottom: 2px solid #370000; /*borda em baixo para resaltar o botão*/
    float: right; /*colocar o menu pra direita*/
}

nav ul li:hover{ /*ao passar o mouse por cima do menu ele mudar de cor(hover)*/
	color: white;
	cursor: pointer;/*mãozinha do mouse ao passar pelo link*/
	border-bottom: 2px solid #a3770a; /*borda, bottom(embaixo), quando passar o mouse aparece uma borda em baixo do botão*/

}	


/*acabou a parte de cabeçalho e menu superior*/

/*começa o section(seção do site)*/

#topo{
	width: 100%;
	height: 300px;
	margin-top: 100px;/*margem para não ficar em baixo do menu*/
	margin-left: auto; /*centralizar a caixa 1/2*/
	margin-right: auto;/*centralizar a caixa 2/2*/
	margin-bottom: auto;
	background: #E8E8E8;


}


#topo  p{
	margin-bottom: 10px;
	padding: 35px 0px 0px 0px;
	text-align: center;
	font-family: Kunstler Script;
	font-size: 109px;
	display: block; /*alinhar texto a imagem*/
    align-items: center; /*centraliza o texto na caixa */


	
	
}

#topo  #p2{
	margin-top: 0px;
	text-align: center;
	font-family: Monotype Corsiva;
	font-size: 0px;
	display: block; /*alinhar texto a imagem*/
    align-items: center; /*centraliza o texto na caixa */


	
	
}

#primeiro{
	width: 100%;
	height: 410px;
	border-bottom: 0.5px solid #C0C0C0;
	
}



#primeiro  h1{

	font-family: Monotype Corsiva;
	font-size: 44px; /*tamanho da fonte*/
	width: 50%;
    height: 0px;
    margin: 0px 0px 10px 19%;/*margem externa*/
    padding: 30px 0px 0px 0px;
}

#primeiro  p {
	text-align: justify;/*mantem o texto ao meio com as linhas corretas*/
	float: left;/*flutuar pra esquerda ao contrario da imagem*/
	font-family: Bell MT;
	line-height: 1.5; /*espaço entre linhas*/
	font-size: 20px; /*tamanho da fonte*/
	margin-top: 47px;
	margin-left: 90px;
    margin-right: auto;
    margin-bottom: auto;
    width: 40%;
    display: table-cell; /*alinhar texto a imagem*/
    align-items: center; /*centraliza o texto na caixa */
 
}

#primeiro img{
	display: table-cell; /*alinhar texto a imagem*/
	float: right;/*flutuar pra direita ao contrario do texto*/
    margin-left: auto;
    margin-right: 14%;
    margin-top: 18px;
    margin-bottom: auto;
   
 }

#segundo{
	width: 100%;
	height: 300px;
	border-bottom: 0.5px solid #C0C0C0;
	

}


#segundo  h1{

	font-family: arial;
	font-size: 44px; /*tamanho da fonte*/
    height: 0px;
    text-align: right;
    margin-right: 23%;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: -5px;
    padding: 43px 0px 0px 0px;
 	
  
    
}


#segundo  p{
	text-align: justify;/*mantem o texto ao meio com as linhas corretas*/
	font-family: arial;
	line-height: 1.5; /*espaço entre linhas*/
	font-size: 18px; /*tamanho da fonte*/
	width: 38%;
	margin-left: auto;
	margin-right: 10%;
	margin-top: 90px;
	margin-bottom: auto;
	display: table-cell;/*alinhar texto a imagem*/
    align-items: right; /*centraliza o texto na caixa */
    float: right; /*flutuar pra direita ao contrario da imagem*/
}

#segundo  img{
	display: table-cell; /*alinhar texto a imagem*/
    margin-left: 10%;
    margin-right: auto;
    margin-top: -14px;
    margin-bottom: auto;
    float: left;/*flutuar pra esquerda ao contrario do texto*/

     
    
 }


 #terceiro{
	width: 100%;
	height: 370px;
	

}

	
#terceiro  h1{

	font-family: arial;
	font-size: 44px; /*tamanho da fonte*/
	width: 50%;
    height: 0px;
    margin: 0px 0px 10px 18%;/*margem externa*/
    padding: 45px 0px 0px 0px
	
}

#terceiro  p{
	text-align: justify;/*mantem o texto ao meio com as linhas corretas*/
	float: left;/*flutuar pra esquerda ao contrario do texto*/
	font-family: arial;
	line-height: 1.5; /*espaço entre linhas*/
	font-size: 18px; /*tamanho da fonte*/
	margin-top: 90px;
	margin-left: 90px;
    margin-right: auto;
    margin-bottom: auto;
    width: 38%;
    display: table-cell; /*alinhar texto a imagem*/
    align-items: center; /*centraliza o texto na caixa  */
    

 
}

#terceiro img{
	display: table-cell;/*alinhar texto a imagem*/
    margin-left: auto;
    margin-right: 10%;
    margin-top: -5px;
    margin-bottom: auto;
    float: right;/*flutuar pra direita ao contrario do texto*/

   
 }





footer{
	width: 100%;
	height:300px;
	background: pink;
}

	



